<head>
	<meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>サインアップ | チャット</title>
	<%= stylesheet_link_tag "/assets/josh/bootstrap.min" %>
	<%= stylesheet_link_tag "/assets/josh/pages/login" %>
</head>

<body>
<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-sm-6 col-sm-offset-3  col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
			<div id="container_demo">
				<div id="wrapper">
					<div id="register" class="animate form">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "/assets/josh/app" %>
</body>